.board {
	font: 80%/0 sans-serif;
	color: white;
	background: black;
	position: relative;
}

.planet {
	position: absolute;
}
.person {
	position: absolute;
	pointer-events: none;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	-o-transition: all 0.1s linear;
	transition: all 0.1s linear;
}